<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unicodedev.fitpal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitPal">
        <activity android:name=".dietplan.DietPlan" />
        <activity
            android:name=".dietplan.FatCalculator"
            android:exported="true" />
        <activity
            android:name=".dietplan.SelectDietPlan"
            android:exported="true" />
        <activity
            android:name=".dietplan.AddFood"
            android:exported="true" />
        <activity
            android:name=".forum.ForumMain"
            android:exported="true" />
        <activity android:name=".social.SocialHome" />
        <activity android:name=".social.CreatePost" />
        <activity android:name=".social.Comments" />
        <activity
            android:name=".workout.AddWorkoutActivity"
            android:exported="true" />
        <activity
            android:name=".workout.UpdateExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".workout.UserExercisesActivity"
            android:exported="true" />
        <activity
            android:name=".workout.YourWorkoutsActivity"
            android:exported="true" />
        <activity
            android:name=".workout.ExerciseActivity"
            android:exported="true" />
        <activity android:name=".workout.WorkoutPlan" />
        <activity android:name=".dietplan.DietPlanHome" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".forum.ForumQuestion"
            android:exported="true" />
        <activity
            android:name=".forum.MyQuestions"
            android:exported="true" />
        <activity android:name=".FirstVisit" />
        <activity android:name=".forum.AddQuestion" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>